.offersSection {
  padding: 4rem 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left;
}

.cardsWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.cta {
  background: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
