.landingPage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
  }
  
  @media (max-width: 1024px) {
    .landingPage {
      gap: 3rem;
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .landingPage {
      gap: 2rem;
      padding: 1rem;
    }
  }
  